body{
	background: #e9e9e9;
  	color: #666666;
  	font-family: 'RobotoDraft', 'Roboto', sans-serif;
  	font-size: 14px;
}

.all{
	width: 1100px;
	height: 750px;
	margin: 0 auto;
	margin-top: 50px;
	background: #ffffff;
	box-shadow: 0.5 0.5;
	border-radius: 10px;
}

.user-info{
	float: left;
	width: 80px;
	height: 100%;
	background: #333333;
	border-radius: 10px 0 0 10px;
}

.user-info *{
	text-align: center;
	color: #ffffff;
}

.friend{
	float: left;
	width: 260px;
	height: 100%;
	background: #fcfcfc;
}

.talk{
	float: left;
	width: 500px;
	height: 100%;
	border-right: 1px solid #f3f3f3;
}

.world{
	float: left;
	width: 259px;
	height: 100%;
	border-radius: 0 10px 10px 0;
}

.friend-top-left, .friend-top-right{
	background: #f3f3f3;
    width: 129px;
    height: 50px;
    float: left;
    color: #666;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
}
.pic{
    width: 46px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}

.friend-top-left{
	border-right: 1px solid #E3E0DE;
}

.friend-block{
	height: 58px;
	background: #e9e9e9;
	width: 100%;
	float: left;
	margin-bottom: 1px solid #E3E0DE;
	cursor: pointer;
}
.friend-block:hover{
    background: #d6d6d7 !important;
}

.onchat{
	background: #C9C7C6;
}

.status{
	width: 12px;
	height:12px;
	border-radius:  50px;
	float: left;
	margin:22px 25px;
	box-shadow: 1px 1px 3px #939292;
}

.online{
	background: #17be17;
}

.offline{
	background: #9e9e9e;
}

.info{
	float: left;
	height: 100%;
	width: 155px;
	padding: 10px 0;
}

.nackname{
	color: #000000;
	font-size: 16px;
	word-spacing: 3px;
}
.number{
	color: #999;
	font-size: 12px;
}

.ismsg{
	width: 12px;
	height:12px;
	border-radius:  50px;
	float: right;
	box-shadow: 1px 1px 3px #939292;
	background: #F44336;
	margin-top: 22px;
    margin-right: 10px;
}

.talk-top{
	height: 50px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.talk-name{
	padding-left: 20px;
	line-height: 50px;
	font-size: 20px;
	color: #535353;
}

/*创建/添加群*/
.friend .friend-top ul{
	position: absolute;
	left: -1px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 128px;
	background: #ffffff;
	border:1px solid #e8e6e6;
	border-radius: 3px;
	box-shadow: 0 0 5px #ededed;
}

.friend .friend-top ul li{
	line-height: 32px;
	color: #666666;
	border-bottom:1px solid #e8e6e6;
}

.friend .friend-top ul li a{
	line-height: 36px;
	color: #666666;
	text-decoration: none;
    font-size: 13px;
}

.statistics{
	text-align: center;
}

.statistics span {
	display: block;
}

/*聊天窗口--个人*/
.talk-content{
	height: calc(100% - 200px);
	overflow: auto;
}

.talk-content::-webkit-scrollbar {
    width: 5px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    opacity: .1;
}

.talk-content::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
    background-color: #ededed;
    opacity: .1;
}

.talk-content::-webkit-scrollbar-track {
    display: block;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3);
    border-radius: 5px;
    background-color: #fafafa;
    opacity: .1;
}

.talk-content ul{
	margin: 0;
    padding: 0;
}

.talk-content ul li{
	padding: 0 5px;
	margin: 20px 0;
	list-style-type: none;
}

.talk-content ul li p{
    overflow: hidden;
    margin: 0;
}

.talk-content ul font{
    text-align: left;
    display: block;
    margin-bottom: 10px;
    margin-left: 6px;
}


.talk-content ul li span{
    display: inline-block;
    margin: 0 5px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 3px;
    max-width: 463px;
    float: left;
    word-wrap: break-word;
    padding: 5px;
    color: #1d1d1d;
}

.talk-content ul .me font{
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.talk-content ul .me span{
    float: right;
    text-align: right;
    background: #b0e46e;
    border:0;
}

.talk-bottom{
	border-top: 1px solid #e5e5e5;
}

.talk-bottom textarea{
    height: 100px;
    width: 96%;
    padding: 4px 2%;
    border: 0;
    background: #fff;
    color: #333;
    font-size: 15px;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.talk-bottom button{
	-webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #666;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    background: #f7f7f7;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom-color: rgba(0,0,0,.3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: linear-gradient(to bottom,#fff,#eee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
    float: right;
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.talk-bottom button:focus, .talk .talk-bottom button:hover {
    background-color: #fafafa;
    color: #666;
    outline: 0;
    text-decoration: none;
    background-image: none;
}

.talk-bottom button:active {
    background-color: #f5f5f5;
    color: #666;
    border-color: rgba(0,0,0,.2);
    border-top-color: rgba(0,0,0,.3);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
}


.msg-init{
    text-align: center;
    font-size: 14px;
    color: #787878;
    margin-top: 200px;
}

.talk-bottom-btn {
	text-align: right;
}

.talk-bottom-btn span{
	display: inline-block;
    margin: 0 10px;
    line-height: 30px;
    font-size: 12px;
}

#group-list .friend-block > i{
    float: left;
    margin: 22px 20px 0 20px;	
}
