<!--im-->
<script type="text/javascript" src="__IM__/ws/src/js/config.js" ></script>
<script type="text/javascript" src="__IM__/ws/src/js/common.js" ></script>
<script type="text/javascript" src="__IM__/src/layui.js"></script>
<script type="text/javascript" src="__IM__/ws/src/js/event.js"></script>
<script type="text/javascript" src="__IM__/ws/src/js/ws.js"></script>
<script type="text/javascript" src="__IM__/ws/src/js/im.js"></script>
<script type="text/javascript" src="__IM__/ws/src/js/index.js"></script>
<script type="text/javascript" src="__IM__/ws/src/js/menu.js"></script>
<!--im-->